@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-busify {
    width: 100%;
    background-image: url("/resources/img/bg.jpg");
    background-size: cover;
    background-position: center;
    height: 550px;
}


.font-outtfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
